[submodule "apps/ChatService"]
	path = apps/ChatService
	url = https://github.com/AdnanGhannam2001/ChatService
[submodule "apps/SocialMediaService"]
	path = apps/SocialMediaService
	url = https://github.com/AdnanGhannam2001/SocialMediaService
[submodule "apps/AuthorizationService"]
	path = apps/AuthorizationService
	url = https://github.com/AdnanGhannam2001/AuthorizationService.git
